
/* Made for cofees */
.cofee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;


}
.cofee-container .cofee-cup{
    width:190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    /* background-image: linear-gradient(rgba(0,0,0,265),rgba(0,0,0,265)),url(./images/offer.jpg); */
    background-size: cover;    
    color: white; 
}
.cofee-cup img{
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}
.cofee-cup h2{
    margin-top: -15px ;
}
.cofee-cup p{
    font-size: 13px;
    padding: 15px;
}
/* grid */
.cofee-container {
    .cofee-container {
        margin-left: 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}
.cofee-container .cofee-cup { 
    width: 250px;
    height: 220px;
}
.cofee-cup img{
    width: 120px;
    height: 150px;
}

    .cofee-cup h2 {
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .cofee-cup p{
        padding: 10px;
    }
.cofee-cup:hover {
    width:300px;
    height: 250px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
    background-image: url(./images/offer.jpg);
    background-size: cover;    
    color: red,white,pink; 
    cursor: pointer;
    transition: 2s ease-in-out all;
    
}

/* Styles for tablets (600px to 1000px) */
@media (min-width: 600px) and (max-width: 1000px) {
    .cofee-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
    }
}

/* Styles for laptops and desktops (above 1000px) */
@media (min-width: 1000px) {
    body{
        width: fit-content;
    }
    .cofee-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns on laptops */
    }
} 