.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
*{
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(rgba(255,255,255,0.395),rgba(255,255,255,0.395)), url(./images/Coffee\ espresso\ template1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Matemasie ;
    color: rgb(75, 38, 20);

    /* #container {
        background-image: linear-gradient(rgba(255,255,255,0.395), rgba(255,255,255,0.395)), url(./images/background.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(75, 38, 20);
    }
     */
   
}
/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
/* LOGO */
 #logo img{
    width: 80px;
    height: 80px;
    padding-left: 40px;
    opacity: 50%;
}
/* anchor-tags here we do padding right so therefore anchor tag is on right.*/
.anchor-tags {
    margin-top: 20px;
    padding-right: 60px;
}
/* use to edit special a. */
.anchor-tags a{
    color: rgb(75, 38, 20);
    background-color: #ffffff6b;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
}
/* for small screens 1000px */
@media(max-width:1000px){
    #logo img{
        width: 70px;
        height: 70px;
        padding-left: 30px;
    }
    .anchor-tags {
        padding-right: 50px;
    }
    .anchor-tags a{
        padding: 10px 10px;
    }
}
/* Tabs */
@media(max-width:780px){
    #logo img{
        height: 60px;
        width: 60px;
    }
    .anchor-tags a{
        font-size: 2.7vh;
        padding: 5px;
    }
    /* home heading */
    .home-heading{
        padding: 150px 20px;
    }
    .home-heading h1{
        font-size: 25px;
    }
    h1 em{
        font-size: 40px;
    }
    .home-heading img{
        width: 15px;
        padding: 5px;
    
    }
    .home-heading p{
        font-size: small;
    }
    .home-heading button{
        padding: 5px;
    }
    .offer {
        margin-top: -70px;
        margin-left: -70px;

    }
    .offer img{
        width: 300px;
    }
    @keyframes moves{
        from {right: 0px;}
        to {right: 90%;}
    }

}


/* Mobile Phone */
@media(max-width:420px){
    body{
        max-width: 420;
    }
    #logo img{
        height: 50px;
        width: 50px;
        padding-left:10px ;
    }
    .anchor-tags{
        padding-right: 10px;
        margin-top: 5px;
    }
    .anchor-tags a{
        padding: 5px 5px;
        font-size: 1.6vh;
    }
    /* home ke liye kam ker raha ho.mobile phones ke liye istamal ker raha ho. */
    .home-heading {
        padding: 60px 20px;
    }
    .home-heading h1{
        font-size: 3vh;
    }
    h1 em{
        font-size: 4vh;
    }
    .home-heading img{
        width: 10px;
        padding: 2px;
        margin: 8px 0px;
        margin-bottom: 0px;
    }
    .home-heading p{
        font-size: 1.3vh;
    }
    .home-heading button{
        padding: 2px;
        margin-left: 5px;
        font-size: 1.3vh;
    }
    .offer {
        margin-top: -40px;
    }
    .offer img{
        width: 140px;
    }
    @keyframes moves{
        from {right: 0px;}
        to {right: 70%;}
    }
}
/* home */
.home {
    display: flex;
    justify-content: space-between;


}
/* home heading */
.home-heading {
    padding: 150px 70px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}
.home-heading h1{
    font-size: 45px;
}
h1 em{ 
    font-size: 60px;
    font-style: normal;
}
.home-heading p{
    padding: 5px 0;

}
.home-heading button{
    color: rgb(75, 38, 20);
    border: 1px solid rgb(75, 38, 20);
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 5px;
}
.offer {
    margin-top: -100 ;
    margin: left -90px; ;
}
.offer img{
    width: 400px;
    opacity: 40%;
}
.home-image{
    width:400px;
}
.home-image {
    position: relative;
    animation: move 1s both;
    opacity: 40%;
}
@keyframes move{
    from {right: 0px;}
    to {right: 690px}
}
/* for 1000px */
@media(max-width:1000px){
    .home-heading{
        padding: 150px 50px;
    }
    .home-heading h1{
        font-size: 35px;
    }
    h1 em{
        font-size: 50px;
    }
.home-heading button{
    padding: 8px;
    margin-top: 8px;
    }
    .offer{
        margin-top: -70px;
        margin-left: -70px;
    }
    .offer img{
        width: 300px;
    }
    .home-image img{
        width: 300px;
    }
    @keyframes moves{
        from {right: 0px;}
        to {right: 570px;}
    }
}